In [2]:
#Imported Libraries
import numpy as np
import pandas as pd

In [3]:
#Open csv file
df=pd.read_csv(r"C:\Users\hp\Desktop\New folder - Copy\Bluestacks\OpenSea_NFT_Sale.csv")
df.head(10)

C:\Users\hp\AppData\Local\Temp\ipykernel_7544\266006784.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\hp\Desktop\New folder - Copy\Bluestacks\OpenSea_NFT_Sale.csv")

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,NaN,150000000000000000,Ether,4119.5000,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,NaN,120000000000000000,Ether,4119.5000,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,NaN,100000000000000000,Ether,4119.5000,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,NaN,10000000000000000,Ether,4119.5000,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,NaN,249580457577544250,Ether,4119.5000,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
5,2019-01-04 23:00:12,7521008,0,NaN,NaN,NaN,NaN,6000000000,NaN,0.0171,0,0x246819f4bd184bdac1521155390c180afeb6be6b,comerclap,0xf796b8fb98c7c98fd4b5424ced013820d1f2ee76,Uncategorized
6,2019-01-05 15:54:29,7529283,0,NaN,NaN,NaN,NaN,3000000000000000000,Ether,4119.5000,0,0xd63de3ee4197fda5040d6045a3d4202c3b80f4dd,NaN,0xa621de726b1a71bf961354a57b9be62b77900d19,Uncategorized
7,2019-01-05 16:03:58,7529370,0,NaN,NaN,NaN,NaN,200000000000000000,Ether,4119.5000,0,0x91f04ffe5aa427e977086746e7b9e1b997f2afa8,yu,0xe531544db533d5fdb6bdbbb1f8f5ee9545e94109,Uncategorized
8,2019-01-05 23:55:47,7533758,0,NaN,NaN,NaN,NaN,45000000000000000,Ether,4119.5000,0,0x1f4b10ffb832581ae5a975ed38eeac9f4e960bdf,untitledid,0x057dc43af6187a931e78a56b3293912a5b42e5ec,Uncategorized
9,2019-01-06 05:04:11,7534679,0,NaN,NaN,NaN,NaN,1629681488392175610,Ether,4119.5000,0,0x3904d7debce689933d4e10d245e714cbadb50c0e,0x3904d7debce689933d4e10d245e714cbadb50c0e,0xc074e40867818df9c264bb48bad75366d2a80868,Uncategorized

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5252254 entries, 0 to 5252253
Data columns (total 15 columns):
 #   Column                              Dtype
---  ------                              -----
 0   sales_datetime                      object
 1   id                                  int64
 2   asset.id                            int64
 3   asset.name                          object
 4   asset.collection.name               object
 5   asset.collection.short_description  object
 6   asset.permalink                     object
 7   total_price                         object
 8   payment_token.name                  object
 9   payment_token.usd_price             float64
 10  asset.num_sales                     int64
 11  seller.address                      object
 12  seller.user.username                object
 13  winner_account.address              object
 14  Category                            object
dtypes: float64(1), int64(3), object(11)
memory usage: 601.1+ MB

A total of 5252254 rows and 15 columns

In [5]:
df.columns

Index(['sales_datetime', 'id', 'asset.id', 'asset.name',
       'asset.collection.name', 'asset.collection.short_description',
       'asset.permalink', 'total_price', 'payment_token.name',
       'payment_token.usd_price', 'asset.num_sales', 'seller.address',
       'seller.user.username', 'winner_account.address', 'Category'],
      dtype='object')

In [6]:
df.describe()

                 id      asset.id  payment_token.usd_price  asset.num_sales
count  5.252254e+06  5.252254e+06             5.248459e+06     5.252254e+06
mean   1.103596e+09  5.279998e+07             3.747108e+03     1.346143e+02
std    6.814816e+08  3.056443e+07             3.263174e+02     1.075532e+03
min    7.447194e+06  0.000000e+00             7.100000e-11     0.000000e+00
25%    5.999819e+08  3.341926e+07             3.734400e+03     1.000000e+00
50%    1.056272e+09  4.598099e+07             3.753880e+03     2.000000e+00
75%    1.463017e+09  6.580656e+07             3.812780e+03     3.000000e+00
max    2.694165e+09  1.791784e+08             4.774700e+04     1.816800e+04

In [7]:
#Cleaning Data
df.isna().sum()

sales_datetime                              0
id                                          0
asset.id                                    0
asset.name                             305726
asset.collection.name                   48785
asset.collection.short_description    5200602
asset.permalink                         48783
total_price                                 0
payment_token.name                       1164
payment_token.usd_price                  3795
asset.num_sales                             0
seller.address                              0
seller.user.username                   584833
winner_account.address                      0
Category                                    0
dtype: int64

In [8]:
df=df.drop('asset.collection.short_description',axis=1)
df

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,150000000000000000,Ether,4119.50,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,120000000000000000,Ether,4119.50,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,100000000000000000,Ether,4119.50,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,10000000000000000,Ether,4119.50,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,249580457577544250,Ether,4119.50,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252249,2021-11-29 07:27:49,2232084052,115052697,"#86 - ""Fret For Your Prozac""",~MyriadMeaning~,https://opensea.io/assets/0x495f947276749ce646...,0,Ether,3734.98,1,0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff,PiratesBootyGallery,0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0,Uncategorized
5252250,2021-12-03 07:06:44,2301205938,102476305,#67 - MOLD,~MyriadMeaning~,https://opensea.io/assets/0x495f947276749ce646...,8000000000000000,Ether,3833.11,1,0x609b9fc66519fb5fa855b8427fb482bca63cd423,KillMePlease,0x42b018ffce9498915e530ca0f871d6f7144b9acc,Uncategorized
5252251,2021-03-06 06:09:07,82596530,18310514,A Gentle Breeze,~~ A e s t h e t i c ~~,https://opensea.io/assets/0x495f947276749ce646...,20000000000000000,Wrapped Ether,3809.16,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319,Uncategorized
5252252,2021-03-29 11:33:23,94187279,19807908,Gas Fees,~~ A e s t h e t i c ~~,https://opensea.io/assets/0x495f947276749ce646...,10000000000000000,Ether,3802.82,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0x263108604e0c9e1f6cdcf698e160cd563635a328,Uncategorized
5252253,2021-10-22 19:55:25,1496067215,44025727,beyond death do us part,~~dreamscapes~~,https://opensea.io/assets/0x495f947276749ce646...,250000000000000000,Ether,3823.39,1,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,artbibop_,0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8,Uncategorized

In [9]:
df.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305726
asset.collection.name       48785
asset.permalink             48783
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

In [10]:
#Column 14 unique values
unique_values=df['Category'].unique()
unique_values

array(['Uncategorized', 'Trading Cards', 'Collectibles', 'Art',
       'Photography', 'Music', 'Sports', 'Utility', 'Domain',
       'Virtual Worlds'], dtype=object)

In [11]:
value_counts=df['Category'].value_counts()
value_counts

Collectibles      2904079
Art               1145826
Uncategorized      513537
Virtual Worlds     282409
Utility            252446
Trading Cards       84564
Sports              25928
Domain              16687
Music               15279
Photography         11499
Name: Category, dtype: int64

In [ ]:
df=df['sales_datetime'].to_datetime()
df